
  @keyframes slideUpTotal {
    0% {
      transform: translateY(100px) !important; /* Prueba con 100px primero para verlo claro */
      opacity: 0 !important;
    }
    100% {
      transform: translateY(0) !important;
      opacity: 1 !important;
    }
  }

  .animacion-entrada {
    animation: slideUpTotal 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards !important;
    display: block !important;
    background: inherit; /* Para que mantenga el color del padre */
  }


