:root {
    --color-primary: #ff3b30;  /* coral */
    --color-secondary: #f5f1e6; /* beige */
}
/* ---- Font-Family globales ----- */

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}


/* ----- NAVBAR ----- */
.bg-button-reset {
    background-color: #ff3b30;
}
.bg-beige {
    background-color: var(--color-secondary);
}
.btn:hover {
    background-color: #e63228;
    transform: translateY(-2px);
}
.icon-reset:hover, .botton-reset:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.link-navbar:hover {
    color: #ff3b30 !important; 
}
#here {
    color: #ff3b30 !important;
}